<!DOCTYPE html>
<html>
<head>
	<title>Real Madrid Fans</title>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<style>
		
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
			display: none !important;
		}

		.fade-ng-cloak {
			display: block !important;
			opacity: 1;
			transition: opacity 0.5s;
		}

		.fade-ng-cloak.ng-cloak {
			opacity: 0;
		}
	
	</style>
		
	<!--

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/dhtmlxscheduler.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

-->
	<link href="css/dhtmlxscheduler.css" rel="stylesheet">
	<link href="css/main.min.css" rel="stylesheet">

	<link href="img/logo.jpg" rel="shortcut icon">
	
</head>
<body ng-app="app" ng-controller="global" class="ng-cloak fade-ng-cloak">
	
	<div class="wrapper">
		
		<div class="wrapper-inner self-clear">


			<div class="navbar navbar-fixed-top">
				
				<div class="navbar-header pull-left">
      				<a class="navbar-brand" href="javascript:void(0);" ng-click="sideMenu.show();"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    			</div>

    			<div class="navbar-header pull-left">
    				<a class="navbar-brand" href="#/">REAL MADRID FANS MIZO</a>
    			</div>

			</div>
			
			<div class="menu-mask" ng-class="(sideMenu.state)?'active':''" ng-click="sideMenu.hide();"></div>
			
			<div class="page-menu main-bg1" ng-class="(sideMenu.state)?'active':''">
				
				<button class="close" ng-click="sideMenu.hide();">&lsaquo;</button>
				
				<!--Logo-->
				<img class="main-logo" src="img/logo.jpg" title="logo">
				
				
				<!--Nagivation Menu-->
				<ul class="nav nav-pills nav-stacked text-uppercase rmf-nav">
					<li ng-click="sideMenu.hide();" ng-repeat="x in sections.list" ng-class="(sideMenu.active == x.label)?'active':''">
						<a ng-href="#!{{x.url || '/'}}" ng-bind="x.label"></a>
					</li>
				</ul>
			
			</div>

			<div class="error-message" ng-show="errorMsg.state" ng-bind="errorMsg.msg"></div>

			<main ng-view class="full-minheight-wtoutNav">
				<!-- <div ng-view></div> -->
			</main>


			<div ng-loading="loading"></div>
				
		</div>

		<footer class="self-clear">
			
			<p class="pull-left" id="datasource">Data Source - <a href="http://api.football-data.org" target="_blank">api.football-data.org</a></p>
		
			<p class="pull-right text-right">
				Developed by Lalnuntluanga. 
				<br><br>
				Contact me on  
					
					<a href="mailto:tluanga34@gmail.com"><img class="social-icons" src="img/gmail.ico"></a>
					<a href="https://www.facebook.com/tluanga34"><img class="social-icons" src="img/facebook.ico"></a>
					<a href="https://www.linkedin.com/in/lalnuntluanga-chhakchhuak-04aa7463/"><img class="social-icons" src="img/linkedin.png"></a>


			</p>
			
		</footer>

	</div>
	
	<!-- <script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/velocity/velocity.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>
	<script src="lib/scheduler/codebase/dhtmlxscheduler.js"></script>
	

	<script src="site_config.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
	 -->
	

	<script type="text/javascript" src="js/main.min.js"></script>


	

</body>
</html>