<div class="container-fluid">

	<h1 class="section-title" ng-bind="leagueTable.leagueCaption+ ' Match Day - '+leagueTable.matchday"></h1>
	<p class="section-desc" ng-bind=""></p>

	<div class="table-responsive">
  		<table class="table">
  			<thead>
  				<tr>
  					<th class="text-center" colspan="3">Team</th>
  					<th class="text-center">P</th>
  					<th class="text-center">W</th>
  					<th class="text-center">L</th>
  					<th class="text-center">D</th>
  					<th class="text-center">G</th>
  					<th class="text-center">GD</th>
  					<th class="text-center">Pts</th>
  				</tr>
  			</thead>

  			<tbody>
  				<tr ng-repeat="x in leagueTable.standing">
  					<td class="text-right" ng-bind="x.position"></td>
  					<td>
  						
  						<img ng-src="{{x.crestURI}}" class="team_logo_table">

  					</td>
  					<td>
						<a ng-href="#!team?teamid={{x._links.team.href.split('teams/')[1]}}" ng-bind="x.teamName"></a>
					</td>
  					<td class="text-center" ng-bind="x.playedGames"></td>
  					<td class="text-center" ng-bind="x.wins"></td>
  					<td class="text-center" ng-bind="x.losses"></td>
  					<td class="text-center" ng-bind="x.draws"></td>
  					<td class="text-center" ng-bind="x.goals"></td>
  					<td class="text-center" ng-bind="x.goalDifference"></td>
  					<td class="text-center" ng-bind="x.points"></td>
  				</tr>
  			</tbody>


 		</table>
</div>


</div>
