<div class="container-fluid league-fixtures">

	<h1 class="section-title">League Fixtures</h1>
  

	<div class="table-responsive">          
  		<table class="table table-striped">

  			<thead>
  				<tr>
  					
  					<th class="text-right">Home Team</th>
					<th class="text-center">Time</th>
  					<th>Away Team</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat="x in leagueFixtures.fixtures | filterWithOr : {status : ['TIMED','SCHEDULED']}">
  					
  					<td class="text-right">
						<a ng-href="#!team?teamid={{x._links.homeTeam.href.split('teams/')[1]}}" ng-bind="x.homeTeamName"></a>
					</td>


					<td class="text-center">
					  
						<p ng-bind="x.date | date"></p>
						<p ng-bind="x.date | date : 'hh : mm a'"></p>

					</td>

  					<td class="text-left">
						<a ng-href="#!team?teamid={{x._links.awayTeam.href.split('teams/')[1]}}" ng-bind="x.awayTeamName"></a>
					</td>
  					<!-- <td ng-bind="x.status"></td> -->
  				</tr>
  			</tbody>
  		</table>

</div>

