<div class="container-fluid">

	<h1 class="section-title">Next Games</h1>
	<!-- <span class="text-center">{{name}}</span> -->
	
	
	<div class="nextMathes self-clear text-center" ng-repeat="x in fixtureData.fixtures | filter : {status : 'TIMED'}" ng-init="getFixtureInfo(x)">
		
		<div class="self-clear team-wrapper">
			<a ng-href="#!team?teamid={{x._links.homeTeam.href.split('teams/')[1]}}">
				<div class="team pull-left col-md-6 col-sm-6 col-xs-6">
					<img ng-src="{{x.homeTeamInfo.crestUrl}}" class="team-logo">
					<h3 class="team-name" ng-bind="x.homeTeamName"></h3>
				</div>
			</a>
			
			
			<a ng-href="#!team?teamid={{x._links.awayTeam.href.split('teams/')[1]}}">
				<div class="team pull-right col-md-6 col-sm-6 col-xs-6">
					<img ng-src="{{x.awayTeamInfo.crestUrl}}" class="team-logo">
					<h3 class="team-name" ng-bind="x.awayTeamName"></h3>
				</div>
			</a>
		</div>
		
		<div class="info-table">
			
			<h4 ng-bind="x.date | date : 'EEEE'"></h4>
			<h4 ng-bind="x.date | date"></h4>
			<h4 ng-bind="x.date | date : 'hh : mm a'"></h4>
			<h4 ng-bind="x.competitionInfo.caption"></h4>

			<a ng-href="https://www.google.com/calendar/render?action=TEMPLATE&dates={{x.date | date : 'yyyyMMddTHHmmss'}}/{{x.date | afterNinty | date : 'yyyyMMddTHHmmss'}}&text={{x.homeTeamName}} vs {{x.awayTeamName}}&details={{x.competitionInfo.caption}} Match between {{x.homeTeamName}} and {{x.awayTeamName}}" target="_blank">
				<button class="btn yellowBg">Add to Calendar</button>
			</a>
		</div>
		
		
	</div>

	
</div>

