<div class="container-fluid">

	<h1 class="section-title">Team Results</h1>

	<div class="table-responsive">          
  		
      <table class="table table-striped hasMargintop infotable-sm">
        <thead>
          <tr>
            
            <th class="text-right">Home Team</th>
            <th class="text-center">Goals</th>
            <th>Away Team</th>
          </tr>
        </thead>
  			<tbody>
  				<tr ng-repeat="x in fixtureData.fixtures | filter : {status : 'FINISHED'} | orderBy : '-date'">
  					
					<td class="text-right align-middle">
						<a ng-href="#!team?teamid={{x._links.homeTeam.href.split('teams/')[1]}}" ng-bind="x.homeTeamName"></a>
					</td>

					<td class="text-center align-middle">
					  <p ng-bind="x.result.goalsHomeTeam + ' - ' + x.result.goalsAwayTeam"></p>
					  <p class="text-center" ng-bind="x.date | date"></p>
					</td>

					<td class="text-left align-middle">
						<a ng-href="#!team?teamid={{x._links.awayTeam.href.split('teams/')[1]}}" ng-bind="x.awayTeamName"></a>
					</td>

  				</tr>

  			</tbody>
  		</table>

</div>



