<div class="container-fluid">

	<h1 class="section-title">Team Players</h1>

	
	<div class="self-clear players">
	
		<div class="item col-xs-6 col-sm-4 col-md-3 col-fhd-2" ng-repeat="x in players.players | orderBy : 'jerseyNumber'">
			<p class="position text-center" ng-bind="x.position"></p>
			<h2 class="jersey-no text-center" ng-bind="x.jerseyNumber"></h2>
			<h3 class="player-name text-center" ng-bind="x.name"></h3>
			<p class="age text-center" ng-bind="getAge(x.dateOfBirth) + ' Years Old'"></p>
			<h4 class="nationality text-center" ng-bind="x.nationality"></h4>
			<p class="contract text-center" ng-bind="'Contract Until '+x.contractUntil | date"></p>
		</div>
	
	</div>


</div>
