<div class="ng-cloak fade-ng-cloak container-fluid cover-bg maskbg full-height-wtoutNav" ng-attr-style="background-image: url('{{teamInfo.crestUrl}}')">
	<table id="team-details" class="full-height full-width">
	<tr>
	<td class="align-middle">

		<div class="team-info self-clear">
			
			<h2 class="name text-center" ng-bind="teamInfo.name"></h2>
		
		</div>
		
		
		
		<div class="self-clear block-menu">
			
			<div class="col-xs-6 col-md-6 col-xm-6 text-center items">
				<a ng-href="#!nextgames?teamid={{teamid}}">Next Matches</a>
			</div>
			
			<div class="col-xs-6 col-md-6 col-xm-6 text-center items">
				<a ng-href="#!fixtures?teamid={{teamid}}">Fixtures</a>
			</div>
			
			<div class="col-xs-6 col-md-6 col-xm-6 text-center items">
				<a ng-href="#!results?teamid={{teamid}}">Results</a>
			</div>
			
			<div class="col-xs-6 col-md-6 col-xm-6 text-center items">
				<a ng-href="#!players?teamid={{teamid}}">Players</a>
			</div>
			
			
		</div>


	</td></tr>
	</table>
</div>