<div class="container-fluid">

	<h1 class="section-title">Team Fixtures</h1>

  <div class="calendar full-height-vh" ng-dhtmlscheduler="fixtureData.calendarData"></div>


	<div class="table-responsive">          


      <table class="table table-striped hasMargintop infotable-sm">

      <thead>
        <tr>
          <th class="text-right">Home Team</th>
          <th class="text-center">Time</th>
          <th>Away Team</th>
        </tr>
      </thead>

        <tbody class="align-middle">
          <tr ng-repeat="x in fixtureData.fixtures | filterWithOr : {status : ['TIMED','SCHEDULED']}">
            
            <td class="text-right align-middle">
				<a ng-href="#!team?teamid={{x._links.homeTeam.href.split('teams/')[1]}}" ng-bind="x.homeTeamName"></a>
			</td>
            
            <td class="align-middle text-center">
              
              <p class="text-center" ng-bind="x.date | date"></p>
              <p ng-bind="x.date | date : 'hh : mm a'"></p>
            </td>

            <td class="text-left align-middle">
				<a ng-href="#!team?teamid={{x._links.awayTeam.href.split('teams/')[1]}}" ng-bind="x.awayTeamName"ss></a>
			</td>

          </tr>

         
        </tbody>
      </table>

</div>

