/*THIS CSS CONTAIN THE NEEDED COMMON CSS ACROSS ALL PAGES*/

* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
} 
body {
	padding: 51px 0px 0px 0px;
    min-width: 320px;
	margin: 0px;
	font: 14px/1.4em Arial;
}
.wrapper{
    min-width: 320px;
}
.container-fluid{
    padding: 0px;
}
button, input[type="button"], input[type="submit"]
{
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0 none;
}

button:active {
	outline: medium none;
}

button:focus {
	outline: medium none;
}

a{
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, p{
	margin: auto;
}
.hasMargintop{
    margin-top: 20px;
}

img:-moz-loading {
    visibility: hidden;
}

input[type="text"], input[type="button"], input[type="submit"], textarea, button {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


/*Class for disabling element selection*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Prevent the child's margin moving the parent*/
.parent::before {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}
.text-divider{
    margin: 0px 10px;
}
.innerWrapper-main{
	margin: 0px auto;
	max-width: 1200px;
}

.float-left{
	float:left;
}

.float-right{
	float: right;
}

.clear{
	float: none;
	clear: both;
}

.relative{
	position: relative;
}

.absolute{
    position: absolute;
}

/*Text*/
.center-text{
    text-align: center;
}
.align-middle{
    vertical-align: middle;
}
/*Block*/
.center-block{
    margin: 0px auto;
}

.full-dim{
    height: 100%;
    width: 100%;
}

.full-width{
	width: 100%;
}

.top-left{
	top: 0px;
    left: 0px;
}

.half-width {
    width: 50%;
}

.pointer{
    cursor: pointer;
}

.self-clear:after{
	content: '';
	display: block;
	float: none;
	clear: both;
}

.pop-up, .menu-mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(252,180,36,0.9);
    top: 0px;
    left:0px;
    z-index: 4000;
} 

.pop-up.active, .pop-up.show{
    display: table;
}
.menu-mask{
    background:rgba(0,0,0,0.5);
}
.menu-mask.active{
    display: block;
    z-index: 1031;
}

.pop-up > div{ 
    display: table-cell;
    vertical-align: middle;
}
.cover-bg{
    background-size: cover;
    background-position: center center;
}
.maskbg{
    position: relative;
}
.maskbg:before{
    content: '';
    position: absolute;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    left: 0px;
}
/*Page Specifics*/

.main-logo{
    width: 113px;
    display: block;
    margin: 8px auto;
}
.page-menu{ 
    width: 320px; 
    position: fixed;
    top: 0px;
    left: -320px;
    height: 100%;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    background-color: #fff;
    z-index: 1032;
    will-change: left;
}
.page-menu.active{
    left: 0px;
}

.page-menu .close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 53px;
    height: 52px;
    background: rgb(252,180,36);
    color: #fff;
    opacity: 1;
}
.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: rgb(46,48,148);
    min-width: 320px;
}  
table.table td.align-middle{
    vertical-align: middle;
}
.error-message{
    padding: 5px 10px;
    background: red;
    color: #fff;
}
/*Color Section*/
.main-bg{
    background-color: #eee;
    color: #fff; 
}
.whiteFont{
    color: #fff;
}
.yellowBg{
    background-color: rgb(252,180,36);
}
.btn.yellowBg:hover,.btn.yellowBg:focus, .btn.yellowBg:active{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover,.navbar-brand:focus, .navbar-brand:active{
    color: #fff;
}
.rmf-nav li a{
    background-color: #eee;
    color: #2e3094;
}
.rmf-nav li a:hover{
    color: #333;
    background-color: #f9e6bf;
}
.rmf-nav li.active a, .rmf-nav li.active a:hover,.rmf-nav li.active a:focus{
    background-color: #fcb424;
    cursor: default;
}


.nextMathes{ 
    /*! max-width: 800px; */
    margin: 40px auto 0px auto;
}
.nextMathes > div{
    display: inline-block;
    float: none !important;
    vertical-align: bottom;
    padding: 0px 8px;
}
.nextMathes .team-wrapper{
    max-width: 768px;
    width: 100%;
}
.nextMathes div.info-table{ 
    background: #2e3094;
    width: 100%;
    float: none;
    clear: both;
    color: #fff;
    padding: 24px 0px 30px 10px;
}
.nextMathes div.info-table h4{
    margin: 10px 0px;
}
.nextMathes img.team-logo{
     /*! max-width: 150px; */
    /*! max-height: 200px; */ 
    display: block;
    margin: 0px auto;
    min-height: 89px;
    height: 210px;
}
.nextMathes .team-name{
    margin: 15px 0px 10px 0px;
    font-weight: bold;
    color: #444;
}
.section-title{ 
    background: rgb(252,180,36);
    color: #fff; 
    padding: 7px 0px;  
    font-size: 1.1em;
    font-weight: bold;
}
.section-title, .section-desc{
    padding-left: 15px;
}
main{
    min-height: 300px;
}
.full-minheight-vh{
    min-height: 100vh;
}
.full-minheight-wtoutNav{
    min-height: calc(100vh - 51px);
}
.calendar{
    overflow-x: auto;
}
.calendar #scheduler_here{
    min-width: 500px;
}
.full-height-vh{
    height: 100vh;
}
.full-width{
    width:100%;
}
.full-height{
    height: 100%;
}
.full-height-wtoutNav{
    height: calc(100vh - 51px);
}
footer{
    background: #444;
    padding: 15px;
    color: #fff;
    font-size: 0.8em;
}
footer .social-icons{
    height: 15px;
}
footer #datasource{
    font-size: 0.9em;
    font-style:italic;
}
.bottomFixed{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
table.infotable-sm{
    margin-left: auto;
    margin-right: auto;
}

td.small{
    width: 137px;
    font-size: 100%;
}
.table td img.team_logo_table{ 
    height: 20px;
}

.players .item{
    background-color: rgb(236, 236, 236);
    border: 2px solid #fff;
    padding: 20px 0px 0px 0px;
    float: none !important;
    display: inline-block;
    vertical-align: top;
}
.players .nationality, .players .age, .players .contract, .players .player-name, .players .position, .players .jersey-no{
    text-align: center;
    color: #000;
}
.players .age{
    margin: 10px 0px;
}
.players .player-name{
    font-weight: bold;
}
.players .jersey-no{
    font-size: 5em;
}
.players .contract{
    margin-top: 23px;
   background: #fcb424;
    padding: 4px 5px;
    font-size: 0.9em;
    color: #fff;
}
#team-details{
    position: relative;
    z-index: 4;
}
#team-details .block-menu .items{
    margin: 10px 0px;
}
#team-details .block-menu .items a{
    padding: 70px 0px;
    background: rgb(46,48,148);
    width: 100%;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 1.2em;
    display: block;
    color: #fff;
}
#team-details .team-info .name{
    color: rgb(46,48,148);
    font-weight: bold;
    font-size: 3em;
    padding: 20px 0px;
}
@media screen and (min-width:1366px){
    .col-fhd-2{
        width: 16.66666667%;
    }
}

@media screen and (max-width: 900px){
    .nextMathes .team-name{
       font-size: 1.4em;
    }
    #team-details .team-info .name{
        font-size: 2em;
    }
}
@media screen and (max-width: 768px){

}


@media screen and (max-width: 450px){
    .nextMathes{
        text-align: center;
        margin: 10px 0px;
    }
    .nextMathes img.team-logo{
       max-width: 75%;
       max-height: auto;
       height: auto;
       width: auto;
    }
    .nextMathes .team{
        float: none !important;
        display: inline-block;
        width: 44%;
        vertical-align: bottom;
    }
    #team-details .team-info .name{
        font-size: 1.6em;
    }
    .nextMathes .team-name{
       font-size: 1em;
    }
    table.infotable-sm{
       font-size: 0.8em;
    }
    .players .player-name{
        font-size: 1.4em;
    }
    .players .contract{
        font-size: 0.8em;
    }
    .league-fixtures table td{
        font-size: 0.75em;
    }
    .nextMathes div.info-table{
       padding: 10px 0px;    
    }
}
